<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/calcetto">Calcetto</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/calcetto/briscola/">Briscola</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calcetto/index">(In manutenzione)</a>
      </li>
    </ul>
  </div>
</nav>